# O usuario deve adicionar a chave de API do Google IA Studio no arquivo .env, seguindo o exemplo do arquivo .env.example. A chave de API é necessária para acessar os serviços do Google IA Studio e realizar as operações de ETL (Extract, Transform, Load) corretamente. Certifique-se de substituir 'coloque_sua_chave_aqui' pela sua chave de API real. 

API_KEY=coloque_sua_chave_aqui
